<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\honey\Desktop\Progamming\MiniProject\Project\env\Scripts\python.exe|C:\Users\honey\Desktop\Progamming\MiniProject\Project\env\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    

    <defaultDocument enabled="true">
      <files>
        <add value="index.py" />
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="Monumnet_info_scrapper.wsgi.application" />
    <add key="PYTHONPATH" value="C:\Users\honey\Desktop\Progamming\MiniProject\Project\Monument-info-Scraper" />
    <add key="DJANGO_SETTINGS_MODULE" value="Monumnet_info_scrapper.settings" />
  </appSettings>
</configuration>
